<div class="container-fluid">
    <div class="row">

        <div class="col-sm-9  main">
            <h1>Forms </h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
                <li role="presentation"><a >Fields</a></li>
            </ul>

            <div class="table-responsive">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span class="caret"></span> Form Name</th>
                            <th><span class="caret"></span>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input ng-model="model.formname" type="text" placeholder="name">
                            </td>
                            <td>
                                <span ng-click="model.addForm()" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span ng-click="model.updateForm()" class="glyphicon glyphicon-ok" aria-hidden="true"></span>

                            </td>
                            <tr ng-repeat="form in model.forms track by $index">
                                <td>
                                    <a href="#/user/{{model.userId}}/form/{{form.id}}/fields">{{form.title}}</a>
                                </td>
                                <td>
                                    <span ng-click="model.deleteForm($index)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    <span ng-click="model.selectForm($index)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>