<div class="col-sm-9  main">
    <h1 class="page-header">My Movie Recommendations</h1>
    <div class="panel panel-default">
    <table class="table table-responsive table-condensed table-striped  table-bordered table-responsive table-hover">
        <thead>
            <th>Poster</th>
            <th>Title</th>
            <th>Plot</th>
            <th>Add</th>
        </thead>
        <tbody>
            <tr ng-repeat="m in con.movies" >

                <div ng-hide="m.title==''">
                    <td><img src='{{m.urlPoster}}' width='120px' ng-click="con.setShared(m)"></td>
                    <td>{{m.title}}</td>
                    <td>{{m.simplePlot}}</td>
                    <td>
                        <!--/*use this to hide . ng-hide='true'*/-->
                        <button ng-hide = 'm.hidebutton' ng-click='con.addToCollections(m)' type="button" class="btn btn-success btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add
                        </button>
                    </td>
                </div>
            </tr>
        </tbody>
    </table>
    </div>
</div>