<div class="col-sm-9  main">
    <h1 class="page-header">My Movie Collections</h1>
    <div class="panel panel-default">

        <table class="table table-responsive table-condensed table-striped  table-bordered table-responsive table-hover">
            <thead>
                <th>Poster</th>
                <th>Title</th>
                <th>Plot</th>
            </thead>
            <tbody>
                <tr ng-repeat="m in con.movies">
                    <td><img src='{{m.urlPoster}}' width='120px'></td>
                    <td>{{m.title}}</td>
                    <td>{{m.plot}}</td>
                    <!--<td>
                    /*use this to hide . ng-hide='true'*/
                    <button ng-hide='$index%2 ' type="button" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Add
                    </button>
                </td>-->
                </tr>
            </tbody>
        </table>

    </div>
</div>