<nav class="nav   jumbotron">
    <div class="container-fluid " ng-controller="HeaderController">
        <div class="navbar-header ">
            <h1 style="margin-top:0px;font-family: Arial Black, Gadget, sans-serif;font-weight:normal;" class="header-text"><a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-music"></span>Movie Collections<span class="glyphicon glyphicon-film"></span></a></h1>
        </div>
        <ul class="nav navbar-nav navbar-right  nav-pills ">
            <li ng-class="{'active' : $location.url().indexOf('register') !=-1 }">
                <a href="#/register">Register </a></li>
            <li ng-class="{'active' : $location.url().indexOf('login') !=-1 }">
                <a href="#/login">Login</a></li>
            <li ng-class="{'active' : $location.url().indexOf('logout') !=-1 }">
                <a href="#">Logout</a></li>
        </ul>
    </div>
</nav>